.btn-swh a {
    color: #6c6c6c;
    border: none;
    outline: none;
    text-decoration: none;
}

.swh-browse-nav li a {
    border-radius: 4px;
}

.swh-corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    z-index: 2000;
}

.swh-loading {
    display: none;
}

.swh-loading.show {
    display: inline-block;
    position: fixed;
    background: white;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    text-align: center;
    z-index: 100;
}

.swh-metadata-table-row {
    border-top: 1px solid #ddd !important;
}

.swh-metadata-table-key {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.swh-metadata-table-value pre {
    white-space: pre-wrap;
}

.btn-swh {
    color: #6c6c6c;
    background-color: #eaeaea;
    border-color: #ddd;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-repeat: repeat-x;
    outline: none;
}

.btn-swh:hover,
.btn-swh:focus,
.btn-swh:active,
.btn-swh.active,
.open .dropdown-toggle.btn-swh {
    background-color: #e6ebf1;
    background-image: linear-gradient(to bottom, #f1f1f1 0, #e6e6e6 100%);
    border-color: rgb(197, 197, 197);
}

.btn-swh.disabled,
.btn-swh[disabled],
fieldset[disabled] .btn-swh,
.btn-swh.disabled:hover,
.btn-swh[disabled]:hover,
fieldset[disabled] .btn-swh:hover,
.btn-swh.disabled:focus,
.btn-swh[disabled]:focus,
fieldset[disabled] .btn-swh:focus,
.btn-swh.disabled:active,
.btn-swh[disabled]:active,
fieldset[disabled] .btn-swh:active,
.btn-swh.disabled.active,
.btn-swh[disabled].active,
fieldset[disabled] .btn-swh.active {
    background-color: #eaeaea;
    border-color: #eaeaea;
}

.btn-swh .badge {
    color: #eaeaea;
    background-color: #6c6c6c;
}

.swh-table-even-odd tr:nth-child(even) {
    background-color: #f5f5f5;
}

.swh-table-even-odd tr:nth-child(odd) {
    background-color: #fff;
}

.swh-revision-log-entry-id {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.swh-revision-log-entry-author {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.swh-table-cell-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swh-log-entry-message {
    min-width: 520px;
    max-width: 520px;
    width: 520px;
}

.swh-revision-log-entry-date {
    min-width: 220px;
    max-width: 220px;
    width: 220px;
}

.swh-directory-table {
    margin-bottom: 0;
}

.swh-directory-table td {
    border-top: 1px solid #ddd !important;
}

.swh-title-color {
    color: #e20026;
}
