*.egg-info/
*.pyc
.coverage
.eggs/
.hypothesis
.mypy_cache
.tox
__pycache__
docs/build/
docs/uri-scheme.md
docs/dev-info.md
*.sqlite3*
.directory
node_modules/
static/*.*
static/js/
static/css/
static/fonts/
static/jssources/
static/img/thirdParty/
build/
dist/
.tox/
.mypy_cache/
package-lock.json
yarn-error.log
cypress/mochawesome/
.nyc_output*/
cypress/accessibility/
cypress/coverage*/
cypress/fixtures/source*.json
cypress/junit/
cypress/downloads/
.eslintcache
docs/README.rst
docs/README.md
