*.pyc
*.sw?
*~
\#*
.\#*
.coverage
.eggs/
resources/test/
__pycache__
version.txt
swh.web.egg-info
docs/build/
docs/uri-scheme.md
docs/dev-info.md
db.sqlite3
testdb.sqlite3
.vscode/
.directory
node_modules/
package-lock.json
package.json
swh/web/static/*.*
swh/web/static/js/
swh/web/static/css/
swh/web/static/fonts/
.cache-loader/
