*.egg-info/
*.pyc
.coverage
.eggs/
.hypothesis
.mypy_cache
.tox
__pycache__
docs/build/
docs/uri-scheme.md
docs/dev-info.md
*.sqlite3*
.directory
node_modules/
swh/web/static/*.*
swh/web/static/js/
swh/web/static/css/
swh/web/static/fonts/
swh/web/static/jssources/
swh/web/static/img/thirdParty/
build/
dist/
package-lock.json
yarn-error.log
cypress/mochawesome/
.nyc_output*/
cypress/accessibility/
cypress/coverage*/
cypress/fixtures/source*.json
cypress/junit/
cypress/downloads/
.eslintcache
# these are symlinks created by a hook in swh-docs' main sphinx conf.py
docs/README.rst
docs/README.md
# this should be a symlink for people who want to build the sphinx doc
# without using tox, generally created by the swh-env/bin/update script
docs/Makefile.sphinx
