include pytest.ini
include README.md
include requirements*.txt
include tox.ini
include version.txt
recursive-include swh py.typed

recursive-include swh/web/assets *
recursive-include swh/web/templates *
recursive-include swh/web/tests/resources *

include package.json
include yarn.lock
