swh.auth[django] >= 0.6.7
swh.core >= 3.7.0
swh.counters >= 0.5.1
swh.indexer >= 3.7.0
swh.model >= 6.16.0
swh.provenance >= 0.1.1
swh.scheduler >= 2.7.0
swh.search >= 0.16.0
swh.storage >= 2.7.0
swh-vault >= 1.12.2
swh.webhooks >= 0.1.1
