decorator  # dependency of swh.core[http]
djangorestframework-stubs
django-stubs
hypothesis
pytest
pytest-django
pytest-mock
requests-mock
swh.core[http] >= 0.0.94
swh.loader.git >= 0.0.59
swh.storage >= 0.0.182