# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html

beautifulsoup4
cryptography
django < 3
django-cors-headers
django-js-reverse
djangorestframework
django-webpack-loader
docutils
htmlmin
iso8601
lxml
prometheus-client
pybadges
pygments
python-keycloak >= 0.19.0
python-magic >= 0.4.0
python-memcached
pyyaml
requests
sentry-sdk
typing-extensions
