decorator  # dependency of swh.core[http]
djangorestframework-stubs
django-stubs
django-test-migrations
hypothesis
pytest
pytest-django
pytest-mock
pytest-postgresql < 4.0.0
requests-mock != 1.9.0, != 1.9.1
swh.core[http] >= 0.0.95
swh.loader.git >= 0.8.0
swh-scheduler[testing] >= 0.5.0
swh.storage >= 0.1.1
types-chardet
types-docutils
types-psycopg2
types-pyyaml
types-requests
