# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html

# Runtime dependencies
Flask
Flask-API
swh.core >= 0.0.20
swh.storage >= 0.0.33
dateutil

# Test dependencies
#Flask-Testing
#blinker

# Non-Python dependencies
# libjs-cryptojs
