/*
version:   0.1
date:      21/09/15
author:    swh
email:     swh
website:   softwareheritage.org
version history: /style.css
*/

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,500,500italic,700,700italic,100,300,100italic,300italic);

html {
    height: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.55);
    padding-top: 80px;  /* avoid fixed bootstrap navbar covers content */
    padding-bottom: 120px;
    min-height: 100%;
    margin: 0;
    position: relative;
}

.heading {
    font-family: 'Alegreya', serif;
}

.shell, .text {
    font-size: 0.7em;
}

img.swh-logo {
    max-height: 45px;
}

.jumbotron {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

#swh-navbar-collapse {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, rgb(226, 0, 38) 0%, rgb(254, 205, 27) 100%) 1 1 1 1;
    width: 100%;
    padding-bottom: 10px;
}

.nav-horizontal {
    float: right;
}

h3[id], h4[id], a[id] {  /* avoid in-page links covered by navbar */
    padding-top: 80px;
    margin-top: -70px;
}

h1, h2, h3, h4  {
    margin: 0;
    color: #e20026;
    padding-bottom: 10px;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }

a {
    color: rgba(0, 0, 0, 0.75);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: rgb(91, 94, 111);
}

a:hover {
    color: black;
}

ul.dropdown-menu > li > a,
ul.dropdown-menu > li > ul > li > a,
.navbar-header > a,
ul.navbar-nav > li > a { /* No decoration on links in dropdown menu */
    border-bottom-style: none;
}

.navbar-header > a,
ul.navbar-nav > li > a {
    color: #323232;
    font-weight: 700;
}

.navbar-header > a:hover,
ul.navbar-nav > li > a:hover {
    color: #8f8f8f;
}

.sitename .first-word, .sitename .second-word {
    font-weight: normal;
    font-size: 1.8rem;
}

.sitename .first-word {
    font-family: 'Alegreya Sans', sans-serif;
}

.sitename .second-word {
    font-family: 'Alegreya', serif;
}

ul.dropdown-menu > li,
ul.dropdown-menu > li > ul > li { /* No decoration on bullet points in dropdown menu */
    list-style-type: none;
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}
.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entries li {
    margin: 0.8em 1.2em;
}
.entries li h2 {
    margin-left: -1em;
}
.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}
.add-entry dl {
    font-weight: bold;
}
.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}
.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}
.error {
    background: #f0d6d6;
    padding: 0.5em;
}

.file-found {
    color: #23BA49;
}
.file-notfound {
    color: #FF4747;
}

/* Bootstrap custom styling to correctly render multiple
 * form-controls in an input-group:
 *                github.com/twbs/bootstrap/issues/12732 */

.input-group-field {
    display: table-cell;
    vertical-align: middle;
    border-radius:4px;
    min-width:1%;
    white-space: nowrap;
}

.input-group-field .form-control {
    border-radius: inherit !important;
}

.input-group-field:not(:first-child):not(:last-child) {
    border-radius:0;
}

.input-group-field:not(:first-child):not(:last-child) .form-control {
    border-left-width: 0;
    border-right-width: 0;
}

.input-group-field:last-child {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

.input-group > span:not(:last-child) > button {
   border-radius: 0;
}

.multi-input-group > .input-group-btn {
  vertical-align: bottom;
  padding: 0;
}

.dataTables_filter {
    margin-top: 15px;
}

.dataTables_filter input {
    width: 70%;
    float: right;
}

tr.api-doc-route-upcoming > td, tr.api-doc-route-upcoming > td > a {
    font-size: 90%;
}

tr.api-doc-route-deprecated > td, tr.api-doc-route-deprecated > td > a {
    color: red;
}

#back-to-top {
  display: initial;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

#back-to-top a img {
  display: block;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  text-indent: -999px;
  overflow: hidden;
}

.table > thead > tr > th {
    border-bottom: 1px solid #e20026;
}

.table > tbody > tr > td {
    border-style: none;
}

pre {
    border: 1px dashed black;
    border-radius: 10px;
    background-color: hsl(47, 99%, 75%);
}

.dataTables_wrapper {
    position: static;
}

/* breadcrumbs */

.bread-crumbs{
    display: inline-block;
    margin: 0 0 15px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.2rem;
}

bread-crumbs ul {
    list-style-type: none;
}

.bread-crumbs li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

.bread-crumbs a {
    color: rgba(0, 0, 0, 0.75);
    border-bottom-style: none;
}

.bread-crumbs a:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: underline;
}

.title-small .bread-crumbs{
    margin: -30px 0 25px;
}

#footer {
    background-color: #262626;
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer a,
#footer a:visited {
    color: hsl(0, 0%, 100%);
}
#footer a:hover {
    text-decoration: underline;
}
