/*
version:   0.1
date:      21/09/15
author:    swh
email:     swh
website:   softwareheritage.org
version history: /style.css
*/

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,500,500italic,700,700italic,100,300,100italic,300italic);

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.55);
}
.heading {
    font-family: 'Alegreya', serif;
}


a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.file-found     { color: #23BA49; }
.file-notfound  { color: #FF4747; }

/* Bootstrap custom styling to correctly render multiple
 * form-controls in an input-group:
 *                github.com/twbs/bootstrap/issues/12732 */

.input-group-field {
    display: table-cell;
    vertical-align: middle;
    border-radius:4px;
    min-width:1%;
    white-space: nowrap;
}

.input-group-field .form-control {
    border-radius: inherit !important;
}

.input-group-field:not(:first-child):not(:last-child) {
    border-radius:0;
}

.input-group-field:not(:first-child):not(:last-child) .form-control {
    border-left-width: 0;
    border-right-width: 0;
}

.input-group-field:last-child {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

.input-group > span:not(:last-child) > button {
   border-radius: 0;
}

.multi-input-group > .input-group-btn {
  vertical-align: bottom;
  padding: 0;
}

.dataTables_filter input {
    width: 70%;
    float: right;
}

.api-doc-route-upcoming h4 {
    color: orange;
}

.api-doc-route-deprecated h4 {
    color: red;
}
