<div class="content">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-end">
      <div class="col-12 text-center align-middle pe-3">
        {% if lang == "en" %}
          We are hiring ! See our
          <a target="_blank"
             rel="noopener noreferrer"
             href="https://www.softwareheritage.org/jobs/">job offers</a>.
        {% elif lang == "fr" %}
          Nous recrutons ! Voir nos
          <a target="_blank"
             rel="noopener noreferrer"
             href="https://www.softwareheritage.org/jobs/?lang=fr">offres d'emploi</a>.
        {% elif lang == "es" %}
          ¡Estamos contratando! Consulta nuestras
          <a target="_blank"
             rel="noopener noreferrer"
             href="https://www.softwareheritage.org/jobs/?lang=es">ofertas de empleo</a>.
        {% endif %}
      </div>
    </div>
  </div>
</div>
