  <li><a href="{{ url_for('browse_api_doc') }}#version">Version</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#schema">Schema</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#mimetype-override">Mimetype override</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#parameters">Parameters</a>
    <ul>
      <li><a href="{{ url_for('browse_api_doc') }}#global-parameter">Global parameter</a></li>
    </ul>
  </li>
  <li><a href="{{ url_for('browse_api_doc') }}#client-errors">Client errors</a>
    <ul>
      <li><a href="{{ url_for('browse_api_doc') }}#bad-request">Bad request</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#not-found">Not found</a></li>
    </ul>
  </li>
  <li><a href="{{ url_for('browse_api_doc') }}#terminology">Terminology</a>
    <ul>
      <li><a href="{{ url_for('browse_api_doc') }}#content">Content</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#cryptographic-hash">(Cryptographic) hash</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#directory">Directory</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#origin">Origin</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#project">Project</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#release">Release</a></li>
      <li><a href="{{ url_for('browse_api_doc') }}#revision">Revision</a></li>
    </ul>
  </li>
  <li><a href="{{ url_for('browse_api_doc') }}#opened-endpoints">Opened endpoints</a></li>
