<div class="simple-search">
  <div class="row simple-desc container-fluid">
    Search an origin according to its SWH ID
  </div>
  <form method="get" action="{{ url_for('search_origin') }}">
    <div class="row">
      <div class="col-md-12">
        <label>Origin ID</label>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="origin SWH ID" name="origin_id" required="true"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<hr/>
<div class="text-center">
  <a data-toggle="collapse" href="#origin-advanced-search">Advanced search</a>
</div>
<div id="origin-advanced-search" class="collapse advanced-search">
  <div class="row advanced-desc container-fluid">
    You can also refer to a directory in a relative manner, as the combination of the type of origin (git, debian, tarball...)
    and the URL at which the origin is located.
  </div>
  <div>
    <form method="get" action="{{ url_for('search_origin') }}">
      <div class="forms-group row">
        <div class="col-md-12">
          <div class="input-group multi-input-group">
            <label for="origin-type">Origin type</label>
            <input id="origin-type"
                   class="form-control"
                   type="text" placeholder="origin type"
                   name="origin_type" required="true"/>
            <div class="input-group-field">
              <label for="origin-url">Origin URL</label>
              <input id="origin-url"
                     class="form-control"
                     type="text" placeholder="origin url"
                     name="origin_url" required="true"/>
            </div>
            <span class="input-group-btn">
              <button id="origin-dummy-btn" class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
