<!-- The symbol search-->
<label for="file-hash-form">Search symbol</label>
<div class="simple-desc container-fluid">
  Permits to lookup symbols in content that SWH
  indexed (i.e. a file that we have in our database).
</div>
<form id="file-hash-form"
      action="{{ url_for('search_symbol') }}"
      class="text-center form"
      method="get">

  <br/>
  <div class="input-group">
    <input id="text-symbol-input"
           type="text" class="form-control"
           name="q"
           placeholder="Symbol to lookup" />
    <span class="input-group-btn">
      <button id="text-symbol-submit"
              class="btn btn-primary"
              type="submit">
        Symbol search
      </button>
    </span>
  </div>
</form>
<br />
