  <li><a href="{{ url_for('browse_api_doc') }}#endpoint-index">Endpoint index</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#data-model">Data Model</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#version">Version</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#schema">Schema</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#parameters">Parameters</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#errors">Errors</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#pagination">Pagination</a></li>
  <li><a href="{{ url_for('browse_api_doc') }}#rate-limiting">Rate limiting</a></li>
