
<div class="swh-browse-top-navigation">
  {% if branches %}
    <div class="dropdown" style="float: left;">
      <button class="btn btn-md btn-swh dropdown-toggle" type="button" data-toggle="dropdown">{{ branch }}
      <span class="caret"></span></button>
      <ul class="scrollable-menu dropdown-menu">
        {% for b in branches %}
          <li class="swh-branch"><a href="{{ b.url }}">{{ b.name }}</a></li>
        {% endfor %}
      </ul>
    </div> 
  {% endif %}

  {% if top_right_link %}
    <a href="{{ top_right_link }}" class="btn btn-md btn-swh pull-right" role="button">{{ top_right_link_text }}</a>
  {% endif %}

  <nav class="bread-crumbs swh-browse-bread-crumbs">
    <ul>
      {% for bc in breadcrumbs %}
        {% if bc.url %}
          <li class="swh-path"><a href="{{ bc.url }}">{{ bc.name }}</a></li>
          <li>/</li>
        {% else %}
          <li>{{ bc.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
  