<div class="panel panel-default" style="overflow-x: auto;">
  <div class="panel-heading">
      <h2>Download content from the Software Heritage Vault</h2>
  </div>
  <div class="panel-body">
    <p>
      This interface enables to track the status of the different Software Heritage
      Vault cooking tasks created while browsing the archive.
    </p>
    <p>
      Once a cooking task is finished, a link will be made available in order to
      download the associated archive.
    </p>
    <button type="button" class="btn btn-md btn-swh" id="vault-remove-tasks">Remove selected tasks</button>
    <div class="table-responsive">
      <table class="table swh-vault-table" id="vault-cooking-tasks">
        <thead>
          <tr>
            <th><input type="checkbox" id="vault-tasks-toggle-selection"/></th>
            <th style="width: 100px">Object type</th>
            <th>Object id</th>
            <th style="width: 350px">Cooking status</th>
            <th style="width: 320px"></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<script>
  swh.vault.initUi();
</script>