Source: swh-web
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: curl,
               debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-bs4,
               python3-django (>= 1.10.7~),
               python3-djangorestframework (>= 3.4.0~),
               python3-django-webpack-loader,
               python3-django-js-reverse,
               python3-docutils,
               python3-htmlmin,
               python3-magic (>= 0.3.0~),
               python3-lxml,
               python3-nose,
               python3-pygments,
               python3-setuptools,
               python3-sphinx,
               python3-sphinxcontrib.httpdomain,
               python3-yaml,
               python3-swh.core (>= 0.0.40~),
               python3-swh.model (>= 0.0.15~),
               python3-swh.storage (>= 0.0.101~),
               python3-swh.indexer.storage (>= 0.0.47~),
               python3-swh.vault (>= 0.0.2~)
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DWUI/

Package: python3-swh.web
Architecture: all
Depends: python3-swh.core (>= 0.0.40~),
         python3-swh.model (>= 0.0.15~),
         python3-swh.storage (>= 0.0.101~),
         python3-swh.indexer.storage (>= 0.0.47~),
         python3-swh.vault (>= 0.0.2~),
         ${misc:Depends},
         ${python3:Depends}
Description: Software Heritage Web Applications
