#!/usr/bin/make -f

export PYBUILD_NAME=swh.web
export PYBUILD_OPTION=--test-pytest
export PYBUILD_TEST_ARGS=--hypothesis-profile=swh-web-fast ./swh/web/tests

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
