#!/usr/bin/make -f

export PYBUILD_NAME=swh.web
export PYBUILD_TEST_ARGS=--with-doctest -sv ./swh/web/tests
export PYBUILD_BEFORE_TEST=cd {build_dir}; python3 swh/web/manage.py migrate
export PYBUILD_AFTER_TEST=cd {build_dir}; rm -f swh/web/settings/testdb.sqlite3
export DJANGO_SETTINGS_MODULE=swh.web.settings.tests

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
