#!/usr/bin/make -f

export PYBUILD_NAME=swh.web
export PYBUILD_OPTION=--test-pytest
export PYBUILD_TEST_ARGS=--hypothesis-profile=swh-web-fast ./swh/web
export PYBUILD_BEFORE_TEST=ln -s {dir}/static/ {build_dir}/static && \
ln -s {dir}/assets/ {build_dir}/assets
export PYBUILD_AFTER_TEST=rm {build_dir}/static && rm {build_dir}/assets

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -rfv $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/.hypothesis
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
