{% extends "layout.html" %}

{% load swh_templatetags %}

{% block title %} Endpoints &ndash; Software Heritage API {% endblock %}
{% block content %}

<div class="panel panel-default" style="overflow-x: auto;">
  <div class="panel-heading">
    <nav class="bread-crumbs">
      <ul>
        <li><a href="/api/">Software Heritage API</a></li>
        <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i></li>
        <li>endpoints</li>
      </ul>
    </nav>
  </div>
  <div class="panel-body">
    <div class="api-doc">
      <p>
        Below you can find a list of the available endpoints for version 1 of the
        Software Heritage API. For a more general introduction please refer to
        the <a href="/api/">API overview</a>.
      </p>

      <p>
        Endpoints marked "available" are considered stable for the current version
        of the API; endpoints marked "upcoming" are work in progress that will be
        stabilized in the near future.
      </p>

      <noscript>
        <ul>
        {% for route, doc in doc_routes %}
          <li><a href="#{{ route }}">{{ route }}</a></li>
        {% endfor %}
        </ul>
      </noscript>
    </div>

    <div class="api-doc table-responsive">
      <table class="table table-striped search-res swh-table">
        <col width="200">
        <thead class="thead-default">
          <th>Endpoint</th>
          <th>Status</th>
          <th>Description</th>
        </thead>
        <tbody>
          {% for route, doc in doc_routes %}
          <tr class="api-doc-route{% for tag in doc.tags %} api-doc-route-{{ tag }} {% endfor %}">
            {% if doc.tags|length > 0 %}
            <td id="{{ route }}">{% url doc.route_view_name %}</td>
            <td>{{ doc.tags|join:', ' }}</td>
            {% else %}
            <td id="{{ route }}"><a href="{% url doc.route_view_name %}">{% url doc.route_view_name %}</a></td>
            <td>available</td>
            {% endif %}
            <td>{{ doc.doc_intro | safe_docstring_display | safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('table.swh-table').DataTable({
      "paging": false,
      "info": false,
      "order": [[1, "asc"]]
    });
  });
</script>
{% endblock %}
