{% extends "layout.html" %}
{% load swh_templatetags %}

{% block title %}{{ heading }} &ndash; Software Heritage archive {% endblock %}

{% block content %}

<div class="panel-group" id="accordion">
  {% if top_panel_visible %}
  <div class="panel panel-default" style="overflow-x: auto;">
      <div class="panel-heading">
        {% if top_panel_collapsible %}
        <a data-toggle="collapse" data-parent="#accordion" href="#swh-browse-top-collapse" style="outline:none;">
        {% endif %}
          <div class="panel-title pull-left">
              <h4>{{ top_panel_text_left }}</h4>
          </div>
          <div class="panel-title pull-right">
            <h4>{{ top_panel_text_right }}</h4>
          </div>
          <div class="clearfix"></div>
        {% if top_panel_collapsible %}
        </a>
        {% endif %}

      </div>
      {% if top_panel_collapsible %}
      <div id="swh-browse-top-collapse" class="panel-collapse collapse">
      {% endif %}
        <table class="table">
          <tbody>
            {% for key, val in swh_object_metadata.items|dictsort:"0.lower" %}
              <tr>
                <th class="swh-metadata-table-row">{{ key }}</th>
                <td class="swh-metadata-table-row">
                  <pre>{{ val | safe | urlize_links_and_mails | safe }}</pre>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if top_panel_collapsible %}
      </div>
      {% endif %}
  </div>
  {% endif %}
  {% if main_panel_visible %}
  <div class="panel panel-default" style="overflow-x: auto;">
    {% block swh-browse-main-panel-content %}{% endblock %}
  </div>
  {% endif %}
</div>

{% block swh-browse-after-panels %}{% endblock %}

{% endblock %}
