{% extends "browse.html" %}
{% load static %}

{% block header %}
<script src="{% static 'js/highlightjs/dist/highlight.pack.js' %}"></script>
<script src="{% static 'js/highlightjs-line-numbers/dist/highlightjs-line-numbers.min.js' %}"></script>
<script>
  // empty hljs language definition
  function no_highlight(hljs) {
    return {}
  }
  // just a trick to get line numbers working when no highlight
  // has to be performed
  hljs.registerLanguage('nohighlight-swh', no_highlight);
  hljs.initHighlightingOnLoad();
  hljs.initLineNumbersOnLoad();
</script>
<link rel="stylesheet" href="{% static 'css/highlightjs/github.css' %}">
{% endblock %}

{% block swh-browse-main-panel-content %}

{% include "includes/top-navigation.html" %}

<div class="well well-sm" style="margin-bottom: 0px">
{% if "inode/x-empty" == mimetype %}
<i>File is empty</i>
{% elif "text/" in mimetype %}
<div class="highlightjs">
  <pre>
    <code class="{{ language }}">{{ content }}</code>
  </pre>
</div>
{% elif "image/" in mimetype and content %}
  <img src="data:{{ mimetype }};base64,{{ content }}"/>
{% else %}
Content with mime type {{ mimetype }} can not be displayed
{% endif %}
</div>

{% endblock %}
