{% extends "browse.html" %}

{% load static %}
{% load swh_templatetags %}
{% load render_bundle from webpack_loader %}

{% block header %}
  {{ block.super }}
  {% render_bundle 'origin' %}
{% endblock %}

{% block swh-browse-before-panels %}

<div class="panel panel-default" style="overflow-x: auto;">
  <div class="panel-heading">
    {% if origin_info.url|slice:"0:4" == "http" %}
      <div class="pull-right">
        <a href="{{ origin_info.url }}" class="btn btn-md btn-swh" role="button">Go to origin</a>
      </div>
    {% endif %}
    <a data-toggle="collapse" data-parent="#accordion" href="#swh-origin-top-collapse" style="outline:none;">
      <h2 style="text-align: center">SWH origin: {{ origin_info.url }}</h2>
      <div class="clearfix"></div>
    </a>
  </div>
  <div id="swh-origin-top-collapse" class="panel-collapse collapse">
    <table class="table">
      <tbody>
        {% for key, val in swh_object_metadata.items|dictsort:"0.lower" %}
          <tr>
            <th class="swh-metadata-table-row">{{ key }}</th>
            <td class="swh-metadata-table-row">
              <pre>{{ val | safe | urlize_links_and_mails | safe }}</pre>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block swh-browse-main-panel-content %}
<div class="panel-heading">
  <div class="pull-left">
      <h2>{{ top_panel_text }}</h2>
  </div>
  <div class="clearfix"></div>
</div>

<div class="panel-body">

  <h2>Visits overview</h2>

    <ul>
      <li>Total number of visits: <b>{{ origin_visits|length }}</b></li>
      <li>Last full visit: <span style="margin-left: 20px;" id="swh-last-full-visit"></span></li>
      <li>First full visit: <span style="margin-left: 20px;" id="swh-first-full-visit"></span></li>
      <li>Last visit: <span style="margin-left: 20px;" id="swh-last-visit"></span></li>
    </ul>

  <h2>Visits history</h2>

  <div class="btn-group" data-toggle="buttons" style="margin: auto; width: 50%;display: table;">
    <button class="btn btn-md btn-swh active swh-visits-button" type="button" onclick="swh.origin.showFullVisitsDifferentSnapshots(event)">Show full visits with different snapshots</button>
    <button class="btn btn-md btn-swh swh-visits-button" type="button" onclick="swh.origin.showFullVisits(event)">Show all full visits</button>
    <button class="btn btn-md btn-swh swh-visits-button" type="button" onclick="swh.origin.showAllVisits(event)">Show all visits</button>
  </div>

  <h3>Timeline</h3>

  <div id="swh-visits-timeline" class="d3-wrapper"></div>

  <h3>Calendar</h3>

  <div id="swh-visits-calendar"></div>

  <h3>List</h3>

  <div id="swh-visits-list"></div>

</div>

<script>
  // all origin visits
  var visits = {{ origin_visits|jsonify }};
  swh.origin.initVisitsReporting(visits);
</script>

{% endblock %}
