{% extends "browse.html" %}
{% load swh_templatetags %}

{% block swh-browse-before-panels %}
{% if origin_context %}
  {% include "includes/origin-visit-snapshot.html" %}
{% endif %}
{% endblock %}

{% block swh-browse-main-panel-content %}
<div class="panel-heading">
  <div class="pull-left">
      <h2>{{ top_panel_text }}</h2>
  </div>
  <div class="clearfix"></div>

</div>

<table class="table">
  {% for key, val in release.items|dictsort:"0.lower" %}
    <tr>
      <th class="swh-metadata-table-row">{{ key }}</th>
      <td class="swh-metadata-table-row"><pre>{{ val }}</pre></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}