{% extends "layout.html" %}
{% block title %}Revision Log{% endblock %}
{% block content %}

<h2>Revision log</h2>

<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Revision</th>
      <th>Message</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for log in revision_log %}
        <tr class="swh-revision-log-entry">
          <td>{{ log.author }}</td>
          <td>{{ log.revision }}</td>
          <td title="{{ log.message }}">{{ log.message_shorten }}</td>
          <td>{{ log.date }}</td>
          <td>{{ log.directory }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>

<ul class="pager">
  {% if next_rev_url %}
    <li><a href="{{ next_rev_url }}">Newer</a></li>
  {% else %}
    <li class="disabled"><a>Newer</a></li>
  {% endif %}
  {% if prev_rev_url %}
    <li><a href="{{ prev_rev_url }}">Older</a></li>
  {% else %}
    <li class="disabled"><a>Older</a></li>
  {% endif %}
</ul> 

{% endblock %}
