{% extends "browse.html" %}

{% block swh-browse-before-panels %}
{% if origin_context %}
  {% include "includes/origin-visit-snapshot.html" %}
{% endif %}
{% endblock %}

{% block swh-browse-main-panel-content %}

{% if not origin_context %}
<div class="panel-heading">
  <div class="panel-title pull-left">
      <h2>{{ top_panel_text }}</h2>
  </div>
  <div class="clearfix"></div>
</div>
{% endif %}

{% if include_top_navigation %}
{% include "includes/top-navigation.html" %}
{% endif %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Revision</th>
        <th>Message</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for log in revision_log %}
          <tr class="swh-revision-log-entry">
            <td>{{ log.author }}</td>
            <td>{{ log.revision }}</td>
            <td title="{{ log.message }}">{{ log.message_shorten }}</td>
            <td>{{ log.date }}</td>
            <td>{{ log.directory }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block swh-browse-after-panels %}

<ul class="pager">
    {% if next_log_url %}
      <li><a href="{{ next_log_url }}">Newer</a></li>
    {% else %}
      <li class="disabled"><a>Newer</a></li>
    {% endif %}
    {% if prev_log_url %}
      <li><a href="{{ prev_log_url }}">Older</a></li>
    {% else %}
      <li class="disabled"><a>Older</a></li>
    {% endif %}
</ul>

{% endblock %}
