{% extends "browse.html" %}

{% block swh-browse-before-panels %}
{% if snapshot_context %}
  {% include "includes/snapshot-context.html" %}
{% endif %}
{% endblock %}

{% block swh-browse-main-panel-content %}

{% include "includes/top-navigation.html" %}

{% if not snapshot_context %}
<div class="panel-heading">
  <div class="panel-title pull-left">
    <h2>{{ top_panel_text }}</h2>
  </div>
  <div class="clearfix"></div>
</div>
{% endif %}

<div class="table-responsive">
  <table class="table swh-table-even-odd">
    <thead>
      <tr>
        <th><i class="octicon octicon-git-commit fa-fw"></i>Revision</th>
        <th>Author</th>
        <th>Message</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for log in revision_log %}
          <tr class="swh-revision-log-entry">
            <td class="swh-revision-log-entry-id"><i class="octicon octicon-git-commit fa-fw"></i>{{ log.revision }}</td>
            <td class="swh-revision-log-entry-author">{{ log.author }}</td>
            <td class="swh-log-entry-message swh-table-cell-text-overflow" title="{{ log.message }}">{{ log.message }}</td>
            <td class="swh-revision-log-entry-date">{{ log.date }}</td>
            <td>{{ log.directory }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block swh-browse-after-panels %}

<ul class="pager">
    {% if next_log_url %}
      <li><a href="{{ next_log_url }}">Newer</a></li>
    {% else %}
      <li class="disabled"><a>Newer</a></li>
    {% endif %}
    {% if prev_log_url %}
      <li><a href="{{ prev_log_url }}">Older</a></li>
    {% else %}
      <li class="disabled"><a>Older</a></li>
    {% endif %}
</ul>

{% endblock %}
