{% extends "browse.html" %}

{% block swh-browse-before-panels %}
{% if origin_context %}
  {% include "includes/origin-visit-snapshot.html" %}
{% endif %}
{% endblock %}

{% block swh-browse-main-panel-content %}
<div style="height: 35px;margin: 4px;">
<i class="octicon octicon-git-commit fa-fw"></i>Revision <b>{{ swh_object_metadata.id }}</b> authored by {{ swh_object_metadata.author }} on <b>{{ swh_object_metadata.date }}</b>
{{ browse_files_button }}
</div>
<pre style="white-space: pre-wrap">
<h2>{{ message_header }}</h2>{{ message_body }}
</pre>
<div style="margin: 4px;">
{{ parents_links }}
</div>
{% endblock %}