.swh-diff-lines-info {
    background-color: rgba(0, 0, 255, 0.1) !important;
}

.swh-diff-added-line {
    background-color: rgba(0, 255, 0, 0.1) !important;
}

.swh-diff-removed-line {
    background-color: rgba(255, 0, 0, 0.1) !important;
}

span.no-nl-marker {
    position: relative;
    color: #cb2431;
    vertical-align: middle;
}

span.no-nl-marker svg {
    vertical-align: text-bottom;
}

span.no-nl-marker svg path {
    fill: currentColor;
}
