{% extends "layout.html" %}
{% block title %}Entity information{% endblock %}
{% block content %}
  {% if message is not none %}
    <p>{{ message | safe }}</p>
  {% endif %}

  {% if entities is not none %}
    {% for entity in entities %}
       <br />
       {% for key in ['uuid', 'parent', 'name', 'doap', 'lister_metadata',
                      'homepage', 'lister', 'description', 'type', 'last_id',
                      'generated', 'active', 'last_seen'] %}
         {% if entity[key] is not none %}
         <div class="row">
            <div class="col-md-2">{{ key }}</div>
            <div class="col-md-6">{{ entity[key] }}</div>
         </div>
         {% endif %}
       {% endfor %}
         {% if 'decoding_failures' in entity %}
	 <div class="row">
	   <div class="col-md-10">(some decoding errors)</div>
	 </div>
	 {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
