<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- BEGIN: bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- END: bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygment.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <script src="{{ url_for('static', filename='lib/jquery.dataTables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script>document.domain = "softwareheritage.org";</script>

  </head>
  <body>
    <a id="top"></a>
    <div class="jumbotron">
      <nav class="navbar navbar-default" id="swh-navbar-collapse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#swh-navbar-collapse" aria-expanded="false"> <!-- screen-reader -->
	    <span class="sr-only">Toggle navigation menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding:5px" href="{{ url_for('homepage') }}"> <!-- logo -->
            <img alt="SWH Archive" src="{{ url_for('static', filename='img/swh-logo.png') }}" class="swh-logo" />
          </a>
          <a class="navbar-brand sitename" href="{{ url_for('homepage') }}">
            <span class="first-word">Software</span> <span class="second-word">Heritage</span>
          </a>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="container">
	<h1>{{ self.title() }}</h1>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="container messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <div class="container content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="back-to-top">
      <a href="#top"><img alt="back to top" src="{{ url_for('static', filename='img/arrow-up-small.png') }}" /></a>
    </div>
  </body>
</html>
