{% extends "layout.html" %}
{% block title %}Origin{% endblock %}
{% block content %}

{% if message is not none %}
  {{ message }}
{% endif %}

{% if origin is not none %}
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/jquery.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/jquery.flot.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/jquery.flot.time.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/jquery.flot.selection.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/jquery.flot.tooltip.min.js') }}"></script>
<div> Details on origin {{ origin_id }}:
  <div id="swh-calendar" style="height: 200px">
    <div id="cal-zoom-window" style="height: 60%">
    </div>
    <div id="cal-static-window" style="height: 40%">
    </div>
  </div>
  <button id="cal-clear">Reset</button>
    {% for key in ['type', 'lister', 'projet', 'url'] %}
        {% if origin[key] is not none %}
            <div class="row">
              <div class="col-md-2">{{ key }}</div>
              <div class="col-md-6">{{ origin[key] }}</div>
            </div>
        {% endif %}
    {% endfor %}
	{% if 'decoding_failures' in content %}
	    <div class="row">
	      <div class="col-md-10">(some decoding errors)</div>
	    </div>
	{% endif %}
</div>
  <script>$(function(){var cal = new Calendar('{{ browse_url }}', '{{ visit_url }}', {{ origin_id }}, $('#cal-zoom-window'),  $('#cal-static-window'),  $('#cal-clear'));});</script>
{% endif %}

{% endblock %}
