{% extends "layout.html" %}
{% block title %}Browse revision at path{% endblock %}
{% block content %}

{% if message is not none %}
{{ message }}
{% endif %}

{% if result is not none %}
    <p>Browse revision '{{ sha1_git }}' with {{ result['type'] }}path '{{ path }}':</p>

    {% if result['type'] == 'dir' %}
        {% if result['content'] is not none %}
            {% for e in result['content'] %}
              <div><p><a class="link{{e.type}}" href="{{e.link}}">{{ e.name }}</a></p></div>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if result['content'] is not none %}
            {% for key in ['sha1', 'sha256', 'sha1_git', 'status', 'length', 'ctime'] %}
              <div class="row">
                 <div class="col-md-2">{{ key }}</div>
                 <div class="col-md-6">{{ result['content'][key] }}</div>
              </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
