{% extends "layout.html" %}
{% block title %}Revision Log{% endblock %}
{% block content %}

{% if message is not none %}
  {{ message }}
{% endif %}

{% if revisions is not none %}
  {% for revision in revisions %}

  <div>
    {% if revision['url'] is not none %}
    <div class="row">
       <div class="col-md-2">Revision</div>
       <div class="col-md-6"><p><a href="{{ revision['url'] }}">{{ revision['url'] }}</a></p></div>
    </div>
    {% endif %}

    {% if revision['history_url'] is not none %}
    <div class="row">
       <div class="col-md-2">Revision Log</div>
       <div class="col-md-6"><p><a href="{{ revision['history_url'] }}">{{ revision['history_url'] }}</a></p></div>
    </div>
    {% endif %}

    {% if revision['directory_url'] is not none %}
           <div class="row">
              <div class="col-md-2">directory</div>
              <div class="col-md-6"><p><a href="{{ revision['directory_url'] }}">{{ revision['directory_url'] }}</a></p></div>
           </div>
     {% endif %}

    {% if revision['author'] is not none %}
           <div class="row">
              <div class="col-md-2">Author</div>
              <div class="col-md-6"><p><a href="{{ revision['author_url'] }}">{{ revision['author']['name'] }}</a></p></div>
           </div>
           <div class="row">
              <div class="col-md-2">Date</div>
              <div class="col-md-6"><p>{{ revision['date'] }}</p></div>
           </div>
    {% endif %}

    {% if revision['committer'] is not none %}
           <div class="row">
              <div class="col-md-2">Committer</div>
              <div class="col-md-6"><p><a href="{{ revision['committer_url'] }}">{{ revision['committer']['name'] }}</a></p></div>
           </div>
           <div class="row">
              <div class="col-md-2">Committer Date</div>
              <div class="col-md-6"><p>{{ revision['committer_date'] }}</p></div>
           </div>
    {% endif %}

    {% if revision['message'] is not none %}
            <div class="row">
              <div class="col-md-2">Message</div>
              <div class="col-md-6"><pre>{{ revision['message'] }}</pre></div>
            </div>
    {% endif %}

    {% for key in revision.keys() %}
           {% if key in ['type', 'synthetic'] and revision[key] is not none %}
            <div class="row">
              <div class="col-md-2">{{ key }}</div>
              <div class="col-md-6"><p>{{ revision[key] }}</pre></div>
            </div>
           {% endif %}
    {% endfor %}

    {% for key in ['parent_urls', 'children_urls'] %}
        {% if revision[key] is not none %}
         <div class="row">
            <div class="col-md-2">{{ key }}</div>
            {% for link in revision[key] %}
            <div class="col-md-6"><a href="{{ link }}">{{ link }}</a></div>
            {% endfor %}
         </div>
        {% endif %}
    {% endfor %}
  </div>
  <hr />
  {% endfor %}

{% endif %}

{% endblock %}
