{% extends "layout.html" %}
{% block title %}Revision{% endblock %}
{% block content %}

{% if message is not none %}
  {{ message }}
{% endif %}

{% if revision is not none %}
<div>
    {% for key in revision.keys() %}
        {% if key != 'directory' and key != 'parents' and key != 'children' and revision[key] is not none %}
            <div class="row">
              <div class="col-md-2">{{ key }}</div>
              {% if key == 'message' %}
              <div class="col-md-6"><pre>{{ revision[key] }}</pre></div>
              {% else %}
              <div class="col-md-6"><p>{{ revision[key] }}</pre></div>
              {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    {% if revision['directory'] is not none %}
           <div class="row">
              <div class="col-md-2">directory</div>
              <div class="col-md-6"><p><a href="{{ revision['directory'] }}">{{ revision['directory'] }}</a></p></div>
           </div>
     {% endif %}

    {% for key in ['parents', 'children'] %}
        {% if revision[key] is not none %}
         <div class="row">
            <div class="col-md-2">{{ key }}</div>
            {% for link in revision[key] %}
            <div class="col-md-6"><a href="{{ link }}">{{ link }}</a></div>
            {% endfor %}
         </div>
        {% endif %}
    {% endfor %}

</div>
{% endif %}

{% endblock %}
