{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="input-group" style="width: 80%;">
  <form action="{{ url_for('search') }}" method="get">
    <input type="text" class="form-control"
	   name="q" value="{{ q }}"
	   placeholder="SHA-1 or SHA-256 checksum" />
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
{% if message is not none %}
<div id="message">{{ message | safe }}</div>
{% endif %}
{% if found is not none %}
<div id="search_results">Found: {{ found | safe }}</div>
{% endif %}
{% endblock %}
